<form class="passengerView">
    <fieldset>
        <label>
            <span>Имя</span>
            <input type="text" class="firstName" name="firstName" />
        </label>
    </fieldset>
    <fieldset>
        <label>
            <span>Фамилия</span>
            <input type="text" class="lastName" name="lastName" />
        </label>
    </fieldset>
    <!-- <fieldset>
        <label>
            <span>Дата рождения</span>
            <input type="text" readonly="readonly" class="birthDate" />
        </label>
    </fieldset>
    <fieldset>
        <label>
            <span>Гражданство</span>
            <input type="text" readonly="readonly" class="citizenship" />
        </label>
    </fieldset>
    <fieldset>
        <label>
            <span>Номер документа</span>
            <input type="text" readonly="readonly" class="document" />
        </label>
    </fieldset>
    <fieldset>
        <label>
            <span>Срок действия</span>
            <input type="text" readonly="readonly" class="expirationDate" />
        </label>
    </fieldset>
    <fieldset>
        <label>
            <span>Бонусная карта авиакомпании</span>
            <input type="text" readonly="readonly" class="bonusCards" />
        </label>
    </fieldset> -->
</form>